.formulario-centralizado{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 1px solid #000;
  margin: auto;
  background-color: lightgray;
}
.formulario-centralizado h4{
  text-align: center;
  margin: 15px;
}
.formulario{
  padding: 1rem;
  margin: 2rem;
}
